    <div>
		<div class="" align="left">
		<md-card>
		<div class="_md" layout-padding>
            <md-list role="list">
              <div class="star-rating"><h4 style="margin:0;">Agent Status</h4></div>
            </md-list>
            <form name="agentForm">
             <div layout="row">
                <md-input-container  flex="50">
                <label>Employee ID</label>
                <md-icon><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#7f7f7f" d="M17.25,18H6.75V4H17.25M14,21H10V20H14M16,1H8A3,3 0 0,0 5,4V20A3,3 0 0,0 8,23H16A3,3 0 0,0 19,20V4A3,3 0 0,0 16,1Z" />
                        </svg></md-icon>
                <input required type="text" name="empid"  id="empid" ng-model="addAgentDetails.empid"  maxlength="10" ng-required="true"  >
         <div ng-messages="agentForm.empid.$error" role="alert">
          <div ng-message="required">
           Employee ID is required.
          </div>
          <div ng-message="pattern">
            Please enter valid employee ID.
          </div>
        </div>
                </md-input-container>
                <md-input-container  flex="50">
                <label>Agent Name</label>
                <md-icon><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#7f7f7f" d="M12,2A2,2 0 0,1 14,4A2,2 0 0,1 12,6A2,2 0 0,1 10,4A2,2 0 0,1 12,2M10.5,7H13.5A2,2 0 0,1 15.5,9V14.5H14V22H10V14.5H8.5V9A2,2 0 0,1 10.5,7Z" />
                </svg></md-icon>
                <input required type="text" name="an" id="an" ng-model="addAgentDetails.name" minlength="3" maxlength="50" ng-required="true"   ng-pattern="/^[A-Za-z. ]+$/"   />
                <div ng-messages="agentForm.an.$error" role="alert">
                  <div ng-message="required">
                    Name is required.
                  </div>
             <div ng-message="pattern">
            Please enter valid agent name.
          </div>
                       <div ng-message="minlength">
            Please enter valid agent name.
          </div>
                  
                </div>
                </md-input-container>
            </div>
            
             <div layout="row">
             	<md-input-container  flex="50">
                <label>User Name</label>
                <md-icon><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#7f7f7f" d="M12,2A2,2 0 0,1 14,4A2,2 0 0,1 12,6A2,2 0 0,1 10,4A2,2 0 0,1 12,2M10.5,7H13.5A2,2 0 0,1 15.5,9V14.5H14V22H10V14.5H8.5V9A2,2 0 0,1 10.5,7Z" />
                </svg></md-icon>
                <input required type="text" name="un" id="un" ng-model="addAgentDetails.uname" minlength="3" maxlength="40"    ng-pattern="/^[A-Za-z0-9. ]+$/"/>
                <div ng-messages="agentForm.un.$error" >
                  <div ng-message="required">
                    User name is required.
                  </div>
              <div ng-message="pattern">
            Please enter valid user name.
          </div>
                                 <div ng-message="minlength">
            Please enter valid user name.
          </div>
          </div>
                </md-input-container>
                <md-input-container  flex="50" class="plus_91" >
                <label>Mobile No</label>
                <md-icon><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#7f7f7f" d="M17.25,18H6.75V4H17.25M14,21H10V20H14M16,1H8A3,3 0 0,0 5,4V20A3,3 0 0,0 8,23H16A3,3 0 0,0 19,20V4A3,3 0 0,0 16,1Z" />
                        </svg></md-icon>
                <input  type="text" name="mn" id="mn" ng-model="addAgentDetails.mno"  mobile-length-directive maxlength="10"  no-special-directive ng-pattern="/^[7-9][0-9]{9}$/" />
                <div ng-messages="agentForm.mn.$error" role="alert">
                  <div ng-message="required">
                    Mobile Number is required.
                  </div>
                  <div ng-message="pattern">
                    Mobile Number must be 10 digit number and start with 7,8 or 9 only.
                  </div>
                </div>
                </md-input-container>
            </div>
            
             <div layout="row">
                <md-input-container flex="50">
              <label>Type</label>
              <md-icon><svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#7f7f7f" d="M16,13C15.71,13 15.38,13 15.03,13.05C16.19,13.89 17,15 17,16.5V19H23V16.5C23,14.17 18.33,13 16,13M8,13C5.67,13 1,14.17 1,16.5V19H15V16.5C15,14.17 10.33,13 8,13M8,11A3,3 0 0,0 11,8A3,3 0 0,0 8,5A3,3 0 0,0 5,8A3,3 0 0,0 8,11M16,11A3,3 0 0,0 19,8A3,3 0 0,0 16,5A3,3 0 0,0 13,8A3,3 0 0,0 16,11Z" />
    </svg></md-icon>
              <md-select  ng-model="addAgentDetails.ccetype" required name="cceType" id="cceType">
                <md-option value="agent">Agent</md-option>
                <md-option value="teamlead">TeamLead</md-option>
                <md-option value="viewer">Viewer</md-option>
              </md-select>
              <div ng-messages="agentForm.cceType.$error" role="alert">
		     <div ng-message="required">
         Type is required.
          </div>
          </div>
            </md-input-container>
                <md-input-container flex="50">
              <label>Status</label>
              <md-icon><svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#7f7f7f" d="M16,13C15.71,13 15.38,13 15.03,13.05C16.19,13.89 17,15 17,16.5V19H23V16.5C23,14.17 18.33,13 16,13M8,13C5.67,13 1,14.17 1,16.5V19H15V16.5C15,14.17 10.33,13 8,13M8,11A3,3 0 0,0 11,8A3,3 0 0,0 8,5A3,3 0 0,0 5,8A3,3 0 0,0 8,11M16,11A3,3 0 0,0 19,8A3,3 0 0,0 16,5A3,3 0 0,0 13,8A3,3 0 0,0 16,11Z" />
    </svg></md-icon>
              <md-select  ng-model="addAgentDetails.status" required name="cceStatus" id="cceStatus">
                <md-option value="Active">Active</md-option>
		</md-select>
		 <div ng-messages="agentForm.cceStatus.$error" role="alert">
		     <div ng-message="required">
          Status is required.
          </div>
          </div>
            </md-input-container>
            </div>
        
             <div layout="row">
                <md-input-container flex="50">
              <label>Language</label>
              <md-icon><svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#7f7f7f" d="M16,13C15.71,13 15.38,13 15.03,13.05C16.19,13.89 17,15 17,16.5V19H23V16.5C23,14.17 18.33,13 16,13M8,13C5.67,13 1,14.17 1,16.5V19H15V16.5C15,14.17 10.33,13 8,13M8,11A3,3 0 0,0 11,8A3,3 0 0,0 8,5A3,3 0 0,0 5,8A3,3 0 0,0 8,11M16,11A3,3 0 0,0 19,8A3,3 0 0,0 16,5A3,3 0 0,0 13,8A3,3 0 0,0 16,11Z" />
    </svg></md-icon>
             <!--  <md-select name="type" ng-model="addAgentDetails.ccelang" > -->
                    <md-select ng-model="addAgentDetails.ccelang" multiple required name="cceLang" id="cceLang">
 <md-option value="{{y.id}}" ng-repeat="y in languages">{{y.language}}</md-option> 
        </md-select>
	    <div ng-messages="agentForm.cceLang.$error" role="alert">
		     <div ng-message="required">
         Language is required.
          </div>
          </div>
            </md-input-container>
                <md-input-container flex="50">
<!--                <label>Mode</label>
              <md-icon><svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#7f7f7f" d="M16,13C15.71,13 15.38,13 15.03,13.05C16.19,13.89 17,15 17,16.5V19H23V16.5C23,14.17 18.33,13 16,13M8,13C5.67,13 1,14.17 1,16.5V19H15V16.5C15,14.17 10.33,13 8,13M8,11A3,3 0 0,0 11,8A3,3 0 0,0 8,5A3,3 0 0,0 5,8A3,3 0 0,0 8,11M16,11A3,3 0 0,0 19,8A3,3 0 0,0 16,5A3,3 0 0,0 13,8A3,3 0 0,0 16,11Z" />
    </svg></md-icon>
              <md-select  ng-model="addAgentDetails.ccemode" required multiple name="cceMode" id="cceMode">
                <md-option value="{{x.id}}" ng-repeat="x in modes" >{{x.mode}}</md-option>
             </md-select>
             <div ng-messages="agentForm.cceMode.$error" role="alert">
		     <div ng-message="required">
         Mode is required.
          </div>
          </div>  -->
          
           
                          <label>QR Mobile No.</label>
                <md-icon><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#7f7f7f" d="M17.25,18H6.75V4H17.25M14,21H10V20H14M16,1H8A3,3 0 0,0 5,4V20A3,3 0 0,0 8,23H16A3,3 0 0,0 19,20V4A3,3 0 0,0 16,1Z" />
                </svg></md-icon>
                <input required type="text" name="qr" id="qr" ng-model="addAgentDetails.qrmno" mobile-length-directive maxlength="10" ng-required="true" no-special-directive ng-pattern="/^[7-9][0-9]{9}$/"/>
                <div ng-messages="agentForm.qr.$error" role="alert">
                  <div ng-message="required">
                    QR mobile No. required.
                  </div>
                    <div ng-message="pattern">
                    Mobile Number must be 10 digit number and start with 7,8 or 9 only.
                  </div>
                  
                </div> 
            </md-input-container>
           </div>
           
             <div layout="row">
             	<md-input-container  flex="50">
                <label>Email</label>
                <md-icon><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#7f7f7f" d="M12,2A2,2 0 0,1 14,4A2,2 0 0,1 12,6A2,2 0 0,1 10,4A2,2 0 0,1 12,2M10.5,7H13.5A2,2 0 0,1 15.5,9V14.5H14V22H10V14.5H8.5V9A2,2 0 0,1 10.5,7Z" />
                </svg></md-icon>
                <input type="text" name="cceEmail" id="cceEmail" ng-model="addAgentDetails.email"  />
                <div ng-messages="agentForm.cceEmail.$error" role="alert">
                  <div ng-message="required">
                  Email is required.
                  </div>
                  
                </div>
                </md-input-container>
                <md-input-container flex="50">
              <label>View reports</label>
              <md-icon><svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#7f7f7f" d="M16,13C15.71,13 15.38,13 15.03,13.05C16.19,13.89 17,15 17,16.5V19H23V16.5C23,14.17 18.33,13 16,13M8,13C5.67,13 1,14.17 1,16.5V19H15V16.5C15,14.17 10.33,13 8,13M8,11A3,3 0 0,0 11,8A3,3 0 0,0 8,5A3,3 0 0,0 5,8A3,3 0 0,0 8,11M16,11A3,3 0 0,0 19,8A3,3 0 0,0 16,5A3,3 0 0,0 13,8A3,3 0 0,0 16,11Z" />
    </svg></md-icon>
              <md-select name="type" ng-model="addAgentDetails.viewreports" required id="vRpts" name="vRpts">
                <md-option value="Y">Yes</md-option>
                <md-option value="N">No</md-option>
              </md-select>
              <div ng-messages="agentForm.vRpts.$error" role="alert">
                  <div ng-message="required">
                  View Reports is required.
                  </div>
                </div>
            </md-input-container>
            </div> 
                         <div layout="row">
             
             <md-input-container flex="100" class="plus_91">
                <label>Mode</label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
         <md-checkbox ng-model="cht1" ng-change="cht()"  ng-true-value=true ng-false-value=false>
         Chat
      </md-checkbox>
      <md-checkbox ng-model="ivr1" ng-change="ivr()" ng-true-value=true ng-false-value=false >
         IVR
      </md-checkbox>
      <md-checkbox ng-model="sms1" ng-change="sms()" ng-true-value=true ng-false-value=false>
         SMS
      </md-checkbox>
      <md-checkbox ng-model="emai" ng-change="emaill()" ng-true-value=true ng-false-value=false>
         Email
      </md-checkbox>
     <md-checkbox ng-model="query1" ng-change="query()" ng-true-value=true ng-false-value=false>
         Query
      </md-checkbox> 
      </md-input-container>
      </div>
             <div layout="row">
               <md-input-container flex="50">
              <label>Response</label>
              <md-icon><svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#7f7f7f" d="M16,13C15.71,13 15.38,13 15.03,13.05C16.19,13.89 17,15 17,16.5V19H23V16.5C23,14.17 18.33,13 16,13M8,13C5.67,13 1,14.17 1,16.5V19H15V16.5C15,14.17 10.33,13 8,13M8,11A3,3 0 0,0 11,8A3,3 0 0,0 8,5A3,3 0 0,0 5,8A3,3 0 0,0 8,11M16,11A3,3 0 0,0 19,8A3,3 0 0,0 16,5A3,3 0 0,0 13,8A3,3 0 0,0 16,11Z" />
    </svg></md-icon>
              <md-select name="type" ng-model="addAgentDetails.respond" required id="respnd" name="respnd">
                <md-option value="Y">Yes</md-option>
                <md-option value="N">No</md-option>
              </md-select>
               <div ng-messages="agentForm.respnd.$error" role="alert">
                  <div ng-message="required">
                  View Reports is required.
                  </div>
                </div>
            </md-input-container>
             	<md-input-container  flex="50" ng-hide="chtValue==false">
                <label>Chat</label>
                <md-icon><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#7f7f7f" d="M12,2A2,2 0 0,1 14,4A2,2 0 0,1 12,6A2,2 0 0,1 10,4A2,2 0 0,1 12,2M10.5,7H13.5A2,2 0 0,1 15.5,9V14.5H14V22H10V14.5H8.5V9A2,2 0 0,1 10.5,7Z" />
                </svg></md-icon>
                <input  type="text" name="chat" id="chat" ng-required="true" numbers-only  ng-model="addAgentDetails.chat"  maxlength="5"   />
                <div ng-messages="agentForm.chat.$error" role="alert">
                  <div ng-message="required">
                  chat is required.
                  </div>
                </div>
                </md-input-container>
                
            </div>
            
             <div layout="row">
               <md-input-container  flex="50" ng-hide="queryValue==false" >
                <label>Query</label>
                <md-icon><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#7f7f7f" d="M12,2A2,2 0 0,1 14,4A2,2 0 0,1 12,6A2,2 0 0,1 10,4A2,2 0 0,1 12,2M10.5,7H13.5A2,2 0 0,1 15.5,9V14.5H14V22H10V14.5H8.5V9A2,2 0 0,1 10.5,7Z" />
                </svg></md-icon>
                <input  type="text" name="query" id="query" numbers-only nng-required="true" ng-model="addAgentDetails.query"  maxlength="5"   />
                <div ng-messages="agentForm.query.$error" role="alert">
                  <div ng-message="required">
                    Query is required.
                  </div>
                </div>
                </md-input-container>
             	<md-input-container  flex="50" ng-hide="callValue==false">
                <label>Call</label>
                <md-icon><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#7f7f7f" d="M12,2A2,2 0 0,1 14,4A2,2 0 0,1 12,6A2,2 0 0,1 10,4A2,2 0 0,1 12,2M10.5,7H13.5A2,2 0 0,1 15.5,9V14.5H14V22H10V14.5H8.5V9A2,2 0 0,1 10.5,7Z" />
                </svg></md-icon>
                <input  type="text" name="call" id="call"  numbers-only ng-required="true"  ng-model="addAgentDetails.call"   maxlength="5"   />
                <div ng-messages="agentForm.call.$error" role="alert">
                  <div ng-message="required">
                    Query is required.
                  </div>
                </div>
                </md-input-container>
                
            </div>
            
                  <div layout="row">
                <md-input-container flex="50">
              <label>TeamLead</label>
              <md-icon><svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#7f7f7f" d="M16,13C15.71,13 15.38,13 15.03,13.05C16.19,13.89 17,15 17,16.5V19H23V16.5C23,14.17 18.33,13 16,13M8,13C5.67,13 1,14.17 1,16.5V19H15V16.5C15,14.17 10.33,13 8,13M8,11A3,3 0 0,0 11,8A3,3 0 0,0 8,5A3,3 0 0,0 5,8A3,3 0 0,0 8,11M16,11A3,3 0 0,0 19,8A3,3 0 0,0 16,5A3,3 0 0,0 13,8A3,3 0 0,0 16,11Z" />
    </svg></md-icon>
              <md-select  ng-model="addAgentDetails.teamleadcce" required name="tlId" id="tlId">
                <md-option ng-repeat="b in fetchListOfTLResponsePojo.pd" value="{{b.cceid}}">{{b.cce_name}}</md-option>
 
              </md-select>
              <div ng-messages="agentForm.tlId.$error" role="alert">
		     <div ng-message="required">
        TL is required.
          </div>
          </div>
            </md-input-container>
            
             <md-input-container flex="50" ng-hide="callValue==false">
              <label>Terminal ID</label>
              <md-icon><svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#7f7f7f" d="M16,13C15.71,13 15.38,13 15.03,13.05C16.19,13.89 17,15 17,16.5V19H23V16.5C23,14.17 18.33,13 16,13M8,13C5.67,13 1,14.17 1,16.5V19H15V16.5C15,14.17 10.33,13 8,13M8,11A3,3 0 0,0 11,8A3,3 0 0,0 8,5A3,3 0 0,0 5,8A3,3 0 0,0 8,11M16,11A3,3 0 0,0 19,8A3,3 0 0,0 16,5A3,3 0 0,0 13,8A3,3 0 0,0 16,11Z" />
    </svg></md-icon>
            <input  type="text"  numbers-only ng-model="addAgentDetails.terminalid" required name="terminalid" id="terminalid" maxlength="6" />
    	  <div ng-messages="agentForm.terminalid.$error" role="alert">
		     <div ng-message="required">
        Terminal ID is required.
          </div>
          </div>
            </md-input-container>

            </div>
    
        <div class="custom_button_box1" align="center" layout-margin>
            <md-button class="md-raised custom-green" ng-click="addAgent(addAgentDetails)"  ng-disabled="!((addAgentDetails.empid && addAgentDetails.name && addAgentDetails.uname && addAgentDetails.mno && addAgentDetails.ccelang && addAgentDetails.ccetype && addAgentDetails.status && addAgentDetails.qrmno && addAgentDetails.email && addAgentDetails.viewreports && addAgentDetails.viewreports && addAgentDetails.respond && addAgentDetails.teamleadcce) && ((addAgentDetails.chat && cht1 ) || (addAgentDetails.query && query1) || (addAgentDetails.call && ivr1 && addAgentDetails.terminalid) || ( emai || sms1 )))">Submit</md-button><!-- ng-disabled="agentForm.$invalid"    && (cht1 || ivr1 || sms1 || emai || query1) -->
            <md-button class="md-raised md-primary md-hue-2 md-primary" ng-click="reset(addAgentDetails)">Refresh</md-button></div>
    
        

        
        </form>
    </div>
 </md-card>    

 
 
 
 
     
         				<div style="display: none">
					<md-card layout-padding>
					<div class="md-dialog-container" id="commonSuccess">
						<md-dialog class="crm-dialog-height">
						<div class="popup-svg" align="center">
							<span><svg style="width: 24px; height: 24px"
									viewBox="0 0 24 24">
    <path fill="#008000"
										d="M23,10C23,8.89 22.1,8 21,8H14.68L15.64,3.43C15.66,3.33 15.67,3.22 15.67,3.11C15.67,2.7 15.5,2.32 15.23,2.05L14.17,1L7.59,7.58C7.22,7.95 7,8.45 7,9V19A2,2 0 0,0 9,21H18C18.83,21 19.54,20.5 19.84,19.78L22.86,12.73C22.95,12.5 23,12.26 23,12V10.08L23,10M1,21H5V9H1V21Z" />
</svg></span>
							<p>{{successMsg}}</p>
							<div class="custom_button_box custom-green">
								<md-button class="md-raised custom-green" ng-click="cancel()">OK</md-button>
							</div>
						</div>
						</md-dialog>
					</div>
					 </md-card>
				</div>



				<div style="display: none">
					<md-card layout-padding>
					<div class="md-dialog-container" id="commonError">
						<md-dialog style="overflow:hidden; height:auto !important;">
						<div class="popup-svg" align="center">
							<span><svg style="width: 35px; height: 35px"
									viewBox="0 0 24 24">
    <path fill="#ff0000"
										d="M13,13H11V7H13M13,17H11V15H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
</svg></span>
							<p>{{errorMsg}}</p>
							<div class="custom_button_box custom-green">
								<md-button class="md-raised custom-green" ng-click="cancel()">OK</md-button>
							</div>
						</div>
						</md-dialog>
					</div>

					</md-card>
				</div> 
 