<md-card>
<form name="cceForm">
	<div layout="row" layout-align="start start" layout-align-xs=""
		layout-xs="column" class="cust_padding">
		<md-input-container flex="33" flex-xs="100" class="no-margin">
		<md-datepicker flex="100" flex-xs="100" ng-model="obj.date"
			md-placeholder="Start Date" id="strtDt" name="strtDt"
			ng-required="true"></md-datepicker>
		<div ng-messages="cceForm.strtDt.$error">
			<div ng-message="valid">Please enter valid date.</div>
		</div>
		</md-input-container>
		<div>
			<md-button class="md-raised md-primary custom-green"
				ng-click="fetchPendingWrapupReq(obj.date)"
				ng-disabled="!(obj.date )">Submit</md-button>
		</div>
	</div>
</form>

</md-card>

<md-card class="md-padding">

<div layout="row" layout-align="start start" layout-align-xs=""
	layout-xs="column" class="cust_padding">
	<md-input-container style="min-width:100px;" flex="50">
	<label>Search</label> <input name="clientName" ng-model="searchedValue"
		no-special-directive maxlength="30"> </md-input-container>
	<md-input-container style="min-width:100px;" flex="50">
	<md-button style="float:right"
		class="md-raised md-primary custom-green"
		ng-click="exportToExcel('#tableToExport')">Export to
	excel</md-button>
</div>
</md-input-container>

</div>
<div
	style="float: left; width: 100%; overflow: scroll; white-space: nowrap; padding: 0px;"
	class="tab_scroll action-btn">
	<table width="100%" border="0" style="text-align: center"
		class="table crm_table newrestablecss table-bordered"
		id="tableToExport">

		<tr>
			<th style="text-align: center">Reference ID</th>
			<th style="text-align: center">Agent ID</th>
			<th style="text-align: center">Agent name</th>
			<th style="text-align: center">MSISDN</th>
			<th style="text-align: center">Channel</th>
			<th style="text-align: center">Aadhaar status</th>
			<th style="text-align: center">Email status</th>
			<th style="text-align: center">State</th>
			<th style="text-align: center">Allocate Time</th>
			<th style="text-align: center">Release time</th>
			<th style="text-align: center">Click here to wrapup</th>
		</tr>
		<tr ng-repeat="x in listOfFetchPenWrapups | filter :searchedValue">
			<span ng-if="viewPendingHistoryResponsePojo.rs=='S'">Total
				Records Found :<strong>{{(viewPendingHistoryResponsePojo.pd.history
					| filter:searchedValue).length}}</strong>
			</span>
			<div
				ng-switch="(viewPendingHistoryResponsePojo.pd.history | filter:searchedValue).length">
				<span ng-switch-when="0" style="color: red;">NO MATCH FOUND</span>
			</div>
			<td>{{x.requestId}}</td>
			<td>{{x.cceid}}</td>
			<td>{{x.name}}</td>
			<td>{{x.msisdn}}</td>
			<td>{{x.channel}}</td>
			<td>{{x.adhaarStatus}}</td>
			<td>{{x.emailStatus}}</td>
			<td>{{x.state}}</td>
			<td>{{x.allocateTime}}</td>
			<td>{{x.releaseTime}}</td>
			<td><md-button class="md-raised md-primary custom-green"
					ng-click="wrapUpReqPopUp(x)">Click here to wrapup</md-button></td>
		</tr>
	</table>

</div>
</div>
</md-card>

<div style="display: none">
	<md-card layout-padding>
	<div class="md-dialog-container" id="createTicketPopUp">
		<form name="createTicketForm1" class="createTicketForm1class">
			<md-dialog class="crm-dialog-height minwidthsize">
			  <md-card flex="100">
			  <md-content> 
				 <div id = "dialogContainer" layout = "row" ng-cloak>			         
			           <md-list role="list">
							<div class="star-rating layout-padding text-center">
								<h4 style="margin: 0;">WrapUp Window</h4>
							</div>
						</md-list>			         	 
			      </div>
			      <div layout="row" class="layout-row">
					<md-input-container flex="50" class="plus_91 flex-50">
					<strong
						style="width: 50%; text-align: center; float: left; font-size: 15px;">Aadhaar
						status</strong> <span style="padding-left: 0px;" class="ng-binding">{{aadhaarStatus}}</span>
					</md-input-container>
					<md-input-container flex="50" class="flex-50">
					<strong
						style="width: 50%; text-align: center; float: left; font-size: 15px;">State</strong>
					<span style="padding-left: 0px;" class="ng-binding">{{state}}</span>
					</md-input-container>
				</div>
				<div layout="row" class="layout-row">
					<md-input-container flex="50" class="plus_91 flex-50">
					<strong
						style="width: 50%; text-align: center; float: left; font-size: 15px;">Email
						authentication</strong> <span style="padding-left: 0px;" class="ng-binding">{{emailAuth}}</span>
					</md-input-container>
	
				</div>
				<div layout="row" class="layout-row layout-padding">
					<md-input-container flex="50"
						class="plus_91 md-icon-left flex-50 md-input-has-value" style="">
					<label class="md-required" for="mobNo">Mobile Number</label> <md-icon
						class="material-icons"> <svg
						style="width: 24px; height: 24px" viewBox="0 0 24 24">
	                           <path fill="#7f7f7f"
							d="M17.25,18H6.75V4H17.25M14,21H10V20H14M16,1H8A3,3 0 0,0 5,4V20A3,3 0 0,0 8,23H16A3,3 0 0,0 19,20V4A3,3 0 0,0 16,1Z"></path>
	                        </svg> </md-icon> <input name="mobNo" autocomplete="off"
						id="mobNo" ng-model="user.user_mno" mobile-length-directive=""
						maxlength="10" ng-required="true" no-special-directive=""
						ng-pattern="/^[7-9][0-9]{9}$/"
						class="md-input ng-valid-maxlength ng-dirty ng-valid-parse ng-touched ng-not-empty ng-valid-required ng-valid ng-valid-pattern"
						required="required" aria-invalid="false" style="" type="tel">
					<div class="md-errors-spacer"></div>
					<div ng-messages="createTicketForm1.mobNo.$error" role="alert"
						class="md-input-messages-animation md-auto-hide ng-inactive"
						aria-live="assertive">
						<!-- ngMessage: required -->
						<!-- ngMessage: pattern -->
					</div>
					</md-input-container>
					<md-input-container flex="50"
						class="md-icon-left flex-50 md-input-has-value">
					<label for="fatherName">User Name</label> <md-icon
						class="material-icons"> <svg
						style="width: 24px; height: 24px" viewBox="0 0 24 24">
	                           <path fill="#7f7f7f"
							d="M12,2A2,2 0 0,1 14,4A2,2 0 0,1 12,6A2,2 0 0,1 10,4A2,2 0 0,1 12,2M10.5,7H13.5A2,2 0 0,1 15.5,9V14.5H14V22H10V14.5H8.5V9A2,2 0 0,1 10.5,7Z"></path>
	                        </svg> </md-icon> <input name="fatherName" id="fatherName"
						ng-model="user.ufathers_name" maxlength="50"
						characters-only-directive="" no-special-directive=""
						class="ng-pristine ng-untouched ng-valid md-input ng-valid-maxlength ng-not-empty"
						aria-invalid="false" style="" type="text">
					<div class="md-errors-spacer"></div>
					</md-input-container>
				</div>
				<div layout="row" class="layout-row layout-padding">
					<md-input-container flex="50" class="flex-50">
					<label>Category</label> <md-select name="category"
						ng-model="user.category" ng-required="true"
						ng-change="fetchSubCategories(user.category)"> <md-option
						ng-repeat="x in fetchCategoriesResponsePojo.pd" value="{{x.catid}}">{{x.catnam}}</md-option>
	
					</md-select> </md-input-container>
					<md-input-container flex="50" class="flex-50">
					<label>Languages</label> <md-select name="language"
						ng-model="user.language1" ng-required="true"> <md-option
						ng-repeat="x in languages" value="{{x.id}}">{{x.language}}</md-option>
	
					</md-select> </md-input-container>
				</div>
				<div layout="row" class="layout-row layout-padding">
					<md-input-container flex="50" class="flex-50">
					<label>Department Name </label> <md-select
						ng-model="user.department"
						ng-change="selectDeptService(user.department)"
						ng-disabled="!disFlag"> <md-option value="{{x.srid}}"
						ng-repeat="x in fetchServicesResponsePojo.pd">{{x.name}}</md-option>
					</md-select> </md-input-container>
					<md-input-container flex="50" class="flex-50">
					<label>Services</label> <md-select name="type"
						ng-model="user.service" ng-disabled="!deptFlag || !disFlag">
					<md-option value="{{y.srid}}"
						ng-repeat="y in fetchDeptServicesResponsePojo.pd">{{y.name}}</md-option>
					</md-select> </md-input-container>
				</div>
				<md-input-container class="md-block" ng-show="disFlag==false">
					<label>Remarks</label> <textarea maxlength="600" name="rmks"
						id="rmks" rows="5" ng-required="true" ng-model="user.rmks"></textarea>
					<div ng-messages="createTicketForm1.rmks.$error" role="alert">
						<div ng-message="required">Remarks is required.</div>
					</div>
					</md-input-container>
					<div layout="row" class="layout-row layout-padding">
						<md-input-container flex="100" class="md-block md-input-invalid">
						<label class="md-required" for="query">Query</label> <textarea
							maxlength="600" name="query" id="query" rows="5" ng-required="true"
							ng-model="user.query"
							class="ng-pristine md-input ng-empty ng-invalid ng-invalid-required ng-valid-maxlength ng-touched"
							required="required" aria-invalid="true" style="height: 135px;"></textarea>
		
						</md-input-container>
					</div>
					<div layout="row" class="layout-row layout-padding">
						<md-input-container flex="50" class="flex-50">
						<label>Query types</label> <md-select name="qtype"
							ng-model="user.qtype" ng-required="true"> <md-option
							value="General">General</md-option> <md-option value="Bug">Bug</md-option>
						<md-option value="Feedback">Feedback</md-option></md-select> </md-input-container>
						<md-input-container flex="50" class="flex-50">
						<label>status</label> <md-select name="status"
							ng-model="user.status" ng-required="true"> <md-option
							value="close">Close</md-option> <md-option value="assign">Assign</md-option></md-select>
						</md-input-container>
					</div>
					<div class="custom_button_box1" align="center" layout-margin>
						<md-button class="md-raised custom-green" ng-click="wrapUpReq(user)"
							ng-disabled="!(user.query  && user.status && user.user_mno && user.category && user.language1 )">Submit</md-button>
						<md-button class="md-raised md-primary md-hue-2 md-primary"
							ng-click="reset(user)">Refresh</md-button>
						<md-button class="md-raised md-primary md-hue-2 md-primary"
							ng-click="cancel()">Cancel</md-button>
					</div>
				</md-content>
			  </md-card>
		    </md-dialog>
	</div>
	</md-card>
</div>



<div style="display: none">
	<md-card layout-padding>
	<div class="md-dialog-container" id="commonSuccess">
		<md-dialog class="crm-dialog-height">
		<div class="popup-svg" align="center">
			<span><svg style="width: 24px; height: 24px"
					viewBox="0 0 24 24">
    <path fill="#008000"
						d="M23,10C23,8.89 22.1,8 21,8H14.68L15.64,3.43C15.66,3.33 15.67,3.22 15.67,3.11C15.67,2.7 15.5,2.32 15.23,2.05L14.17,1L7.59,7.58C7.22,7.95 7,8.45 7,9V19A2,2 0 0,0 9,21H18C18.83,21 19.54,20.5 19.84,19.78L22.86,12.73C22.95,12.5 23,12.26 23,12V10.08L23,10M1,21H5V9H1V21Z" />
</svg></span>
			<p>{{successMsg}}</p>
			<div class="custom_button_box custom-green">
				<md-button class="md-raised custom-green" ng-click="cancel()">OK</md-button>
			</div>
		</div>
		</md-dialog>
	</div>
	</md-card>
</div>



<div style="display: none">
	<md-card layout-padding>
	<div class="md-dialog-container" id="commonError">
		<md-dialog style="overflow:hidden; height:auto !important;">
		<div class="popup-svg" align="center">
			<span><svg style="width: 35px; height: 35px"
					viewBox="0 0 24 24">
    <path fill="#ff0000"
						d="M13,13H11V7H13M13,17H11V15H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
</svg></span>
			<p>{{errorMsg}}</p>
			<div class="custom_button_box custom-green">
				<md-button class="md-raised custom-green" ng-click="cancel()">OK</md-button>
			</div>
		</div>
		</md-dialog>
	</div>

	</md-card>
</div>