<md-toolbar class="md-theme-indigo top-head" layout="row">
    <div align="center" class="md-toolbar-tools breadcrumb">
    <span class="md-toolbar-tools logo-bg cursor-pointer">
     <img src="resources/assets/images/logo-umang.png" width="152" height="47" alt=""/>
     </span>
        <!-- <span class="color-white">UMANG Department SelfCare</span> -->
    </div>
</md-toolbar>
<md-content style="height:100%;background-image: url(resources/assets/images/loginbg.jpg);">
    <div layout-gt-sm="row" layout="column">
        <div flex-gt-sm="70" flex="30" layout="column" hide-xs hide-sm>
            <md-card layout-padding class="flowchart-bg">
                <div align="center"><img src="resources/assets/images/process-flow.png" width="480" height="480" alt="" /></div>
            </md-card>
        </div>
        <div flex layout="column">
            <md-card class="no-padding">
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Login">
                        <form name="vm.loginForm" id="vm.loginForm" novalidate>
                            <md-content layout-padding layout="column">
                                <md-input-container class="no-margin-bottom">
                                    <label>User ID</label>
                                    <md-icon>account_circle</md-icon>
                                    <input ng-model="vm.user.userid" type="text" name="userId" id="userId" ng-required="true" maxlength="60" autocomplete="off">
                                    <div ng-messages="vm.loginForm.userId.$error">
                                        <div ng-message="required">
                                            User ID / Email is required.
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container password-autofill-fix class="no-margin-bottom">
                                    <label>Password</label>
                                    <md-icon>lock</md-icon>
                                    <input ng-model="vm.user.password"  type="password" name="password" ng-required="true" id="password" autocomplete="off">
                                    <div ng-messages="vm.loginForm.password.$error">
                                        <div ng-message="required">
                                            Password is required.
                                        </div>
                                    </div>
                                </md-input-container>
                                <div layout="row" layout-align="space-between center">
                                    <md-input-container flex-offset-gt-sm="60" class="no-margin-top no-margin-bottom">
                                        <md-button ng-click="vm.forgotPassword()" class="md-primary" translate="Forgot password?">Forgot password?</md-button>
                                    </md-input-container>
                                </div>
                                <div layout="row" align="center">
                                    <md-button is-busy="vm.loginPromise" flex type="submit" ng-click="vm.login()" class="md-raised md-primary no-margin-top">Login</md-button>
                                </div>
                            </md-content>
                        </form>
                    </md-tab>
                    <md-tab label="Onboard">
                        <form name="vm.onboardForm">
                            <md-content layout-padding layout="column">
                                <md-radio-group ng-init="vm.onboard.state='99'" ng-model="vm.stateRadio" layout="row">
                                    <md-radio-button ng-click="vm.onboard.state='99'" class="md-primary">Central</md-radio-button>
                                    <md-radio-button ng-click="vm.onboard.state=''" value="state" class="md-primary">State</md-radio-button>
                                   <!--  <md-radio-button ng-click="vm.onboard.all=''" value="all" class="md-primary">All</md-radio-button> -->
                                </md-radio-group>
                                
                                <!-- content for all tab -->
                               <!--  <md-input-container class="no-margin-bottom" ng-if="vm.stateRadio=='all'">
                                    <label>State</label>
                                    <md-icon>pin_drop</md-icon>
                                    
                                    <md-select ng-required="true" placeholder="states" md-on-open="vm.fetchStates1()" md-on-close="vm.searchStates=''" name="states" ng-model="vm.onboard.state" multiple md-select-search="vm.allApps.allStates>5">
                                        <md-select-header ng-value="states" ng-show="vm.allStates" multiple search="vm.searchStates">
                                        </md-select-header>
                                        <md-option ng-value="state.stateid" ng-repeat="state in vm.allStates|filter:vm.searchStates">{{::state.statename}}</md-option>
                                    </md-select>
                                    
                                    <div ng-messages="vm.onboardForm.state.$error">
                                        <div ng-message="required">State is required.</div>
                                    </div>
                                </md-input-container> -->
                             <!-- content for all tab close-->
                                
                                <md-input-container class="no-margin-bottom" ng-if="vm.stateRadio=='state'">
                                    <label>State</label>
                                    <md-icon>pin_drop</md-icon>
                                    <md-select md-on-open="vm.fetchStates()" md-on-close="vm.searchStates=''" ng-required="true" placeholder="State" name="state" ng-model="vm.onboard.state">
                                        <md-select-header ng-show="vm.allStates" search="vm.searchStates">
                                        </md-select-header>
                                        <md-option ng-value="state.stateid" ng-repeat="state in vm.allStates|filter:vm.searchStates">{{::state.statename}}</md-option>
                                    </md-select>
                                    <div ng-messages="vm.onboardForm.state.$error">
                                        <div ng-message="required">State is required.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="no-margin-bottom">
                                    <label>Name of Organization</label>
                                    <md-icon>business</md-icon>
                                    <input ng-model="vm.onboard.orgName" type="text" name="orgName" ng-required="true" maxlength="50" autocomplete="off">
                                    <div ng-messages="vm.onboardForm.orgName.$error">
                                        <div ng-message="required">
                                            Organization name is required.
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="no-margin-bottom">
                                    <label>Name of Requestor</label>
                                    <md-icon>account_circle</md-icon>
                                    <input ng-model="vm.onboard.reqName" ng-pattern="vm.namePattern" type="text" name="reqName" ng-required="true" maxlength="50" autocomplete="off">
                                    <div ng-messages="vm.onboardForm.reqName.$error">
                                        <div ng-message="required">
                                            Requestor name is required.
                                        </div>
                                        <div ng-message="pattern">
                                            Please enter a valid name.
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="no-margin-bottom">
                                    <label>Email</label>
                                    <md-icon>email</md-icon>
                                    <input ng-model="vm.onboard.email" type="text" name="email" ng-required="true" minlength="5" maxlength="60" ng-change="vm.validateGovtEmail()" ng-pattern="vm.emailPattern" autocomplete="off">
                                    <div ng-messages="vm.onboardForm.email.$error">
                                        <div ng-message="required">
                                            Email address is required.
                                        </div>
                                        <div ng-message-exp="['minlength', 'maxlength', 'pattern']">
                                            Please enter a valid email.
                                        </div>
                                        <div ng-message="validatingDomain">
                                            Validating Email Domain... <span class="tiny-spinner asyc-val"></span>
                                        </div>
                                        <div ng-message="invalidDomain">
                                            Government email address is required. <a ng-click="vm.showAllowedDomains()" href="#">(View Allowed Domains)</a>
                                        </div>
                                    </div>
                                </md-input-container>
                                <div layout="row" ng-if="vm.onboard.email && vm.onboardForm.email.$valid" layout-align="space-around" layout-wrap>
                                    <md-button ng-init="vm.canRequestEmailOTP=true; vm.emailOTPPromise=null" ng-disabled="!vm.canRequestEmailOTP" is-busy="vm.emailOTPPromise" ng-click="vm.requestEmailOTP()" class="md-primary">{{vm.emailOTPPromise==null?'Request':'Resend'}} OTP</md-button>
                                    <md-input-container promise-hider="vm.emailOTPPromise" class="no-margin-bottom emailOTPPromise_btn">
                                        <label>Email OTP</label>
                                        <md-icon>phonelink_lock</md-icon>
                                        <input clear-on-destroy ng-model="vm.onboard.emailOTP" restrict="reject" mask-validate="false" mask="999999" type="text" name="emailOTP" ng-required="true" autocomplete="off">
                                        <div ng-messages="vm.onboardForm.emailOTP.$error">
                                            <div ng-message="required">
                                                Email OTP is required.
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <div class="small-grey-text" ng-if="!vm.canRequestEmailOTP">Didn't get OTP? You can re-request in {{vm.emailRemainingSec}} seconds.</div>
                                </div>
                                <md-input-container class="no-margin-bottom">
                                    <label>Mobile Number (Optional)</label>
                                    <md-icon>phone</md-icon>
                                    <input prefix91="14" ng-model="vm.onboard.mno" type="text" name="mno" ng-required="false" autocomplete="off" ng-maxlength="10" maxlength="10" ng-pattern="vm.mobilePattern">
                                    <div ng-messages="vm.onboardForm.mno.$error">
                                        <div ng-message="required">
                                            Mobile number is required.
                                        </div>
                                        <div ng-message="pattern">
                                            Please enter a valid mobile number.
                                        </div>
                                    </div>
                                </md-input-container>
                                <div layout="row" ng-if="vm.onboard.mno" layout-align="space-around" layout-wrap>
                                <md-button ng-init="vm.canRequestMobOTP=true; vm.mnoOTPPromise=null" ng-disabled="!vm.canRequestMobOTP" is-busy="vm.mnoOTPPromise" ng-click="vm.requestMobOTP()" class="md-primary">{{vm.mnoOTPPromise==null?'Request':'Resend'}} OTP</md-button>
                                    <md-input-container promise-hider="vm.mnoOTPPromise" class="no-margin-bottom">
                                        <label>Mobile OTP</label>
                                        <md-icon>phonelink_lock</md-icon>
                                        <input clear-on-destroy ng-model="vm.onboard.mnoOTP" restrict="reject" mask="999999" mask-validate="false" type="text" name="mnoOTP" ng-required="true" autocomplete="off">
                                        <div ng-messages="vm.onboardForm.mnoOTP.$error">
                                            <div ng-message="required">
                                                Mobile OTP is required.
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <div class="small-grey-text" ng-if="!vm.canRequestMobOTP">Didn't get OTP? You can re-request in {{vm.mnoRemainingSec}} seconds.</div>
                                </div>
                                <br>
                                <div layout="row">
                                    <md-button is-busy="vm.submitPromise" flex ng-disabled="vm.onboardForm.$invalid" ng-click="vm.submitOnboardForm()" class="md-raised md-primary" type="submit">Submit</md-button>
                                </div>
                            </md-content>
                        </form>
                    </md-tab>
                </md-tabs>
            </md-card>
        </div>
    </div>
</md-content>
