body, html {
	font-family: "Roboto", sans-serif;
	background: #fff;
	/* max-width: 640px; */
	margin: 0 auto;
	font-size: 16px;
	line-height: 23px;
	height: auto;
	color: #818181;
	position: static !important;
}

body * {
	outline: 0;
}

a {
	text-decoration: none;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

.toolbar-bg, .md-hue-2 {
	background: #00599d !important;
	color: #fff;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.md-as-listview {
	padding: 0;
	list-style: none;
	margin: 0;
	box-shadow: 0 0 3px #9a9999;
}

.center {
	text-align: center;
}

.md-as-listview.listviewst2 li {
	box-shadow: none;
	border: 0;
	border-bottom: 1px solid #ddd;
}

.md-as-listview.listviewst2 li:last-child {
	box-shadow: none;
	border: 0;
	border-bottom: 0 solid #ddd
}

.md-as-listview li {
	padding: 5px;
	list-style: none;
	margin: 5px 5px 10px;
	border: 1px solid #f5f5f5;
	font-size: 10pt;
	line-height: 15pt;
	background: #fff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0
		rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
	color: #818181;
}

.md-as-ulscroll {
	overflow: auto;
}

.md-as-bgheading {
	background: #f7f7f7;
	padding: 12px 5px;
	font-size: 17px;
	color: #00599d;
	font-weight: bold;
}

.md-as-heading-soil {
	text-align: left;
	padding: 12px;
	font-weight: 100;
	color: #000;
	margin-top: 2px;
	font-size: 19px;
}

input[type="date"] {
	border: 0;
	background: transparent;
	border-bottom: 1px solid #e8e8e8;
	width: 87%;
	outline: 0;
	margin-left: 10px;
}

.md-as-form_setting h4 {
	margin: 0 0 18px;
	padding: 0;
	color: #b5b5b5;
}

.md-as-form_setting .row.select_label h4 {
	font-size: 12px;
	font-weight: 100;
	margin: 0 2px 10px;
}

.md-as-form_setting .row {
	margin: 18px 0;
}

.md-as-form_setting .select_label>span {
	display: inline-block;
	margin: 15px 15px 0px 5px;
	vertical-align: top;
}

.ib {
	display: inline-block;
	vertical-align: top;
}

.md-as-form_setting h4.h42 {
	margin: 18px 0 0 0;
}

.md-as-note {
	background: #fff !important;
	color: #000;
	border: 0px;
	margin: 0;
	padding: 15px 10px;
	text-align: center;
	font-size: 15px;
}

.custom-heading2 {
	font-size: 19px;
	color: #fff;
	padding: 12px;
	font-weight: 500;
	margin: 0 0 15px 0;
	background: #4285F4;
}

.custom-heading3 {
	font-size: 18px;
	color: #7f7f7f;
}

.custom-heading4 {
	font-size: 16px;
	color: #7f7f7f;
}

.custom-heading5 {
	font-size: 14px;
	color: #7f7f7f;
}

.custom-heading6 {
	border-bottom: 1.5px solid #ddd;
	margin: 0;
	padding: 15px 8px;
	font-size: 18px;
	color: #000;
}

.custom-heading7 {
	padding: 10px;
	background: #eee;
	color: #777;
	margin: 10px 0 18px;
}

.table {
	table-layout: auto;
	color: #818181;
	font-size: 14px;
	line-height: 22px;
	padding: 8px;
}

.table.tab_last_box tr td:last-child, .table.tab_last_box tr th:last-child
	{
	text-align: center;
	width: 80px;
}

.table td {
	padding: 8px;
	height: 25px;
	line-height: 25px;
	border-collapse: collapse;
	border-bottom: 1px solid #ededed;
	    white-space: nowrap;
}

.table th {
	padding: 10px;
	text-align: left;
	border-collapse: collapse;
	border-bottom: 1px solid #ededed;
	background: rgb(63, 81, 181);
	font-size: 14px;
	height: auto;
	font-weight: 600;
	color: #fff;
	border-color: #fff;
	    white-space: nowrap;
}

.cbse-container {
	background: #f3f3f3;
	box-shadow: none !important;
	padding: 5px 0 0 0;
}

.cbse-md-headline h2 {
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	width: 100%;
	color: #000;
	float: left;
	padding: 0;
	font-weight: 600;
	height: auto;
	margin: 8px 0;
}

.cbse-md-headline span {
	color: #333;
	text-align: center;
	font-size: 15px;
	margin: 0 0 20px;
	font-weight: 400;
	width: 100%;
	float: left;
}

.service-card {
	max-width: 46% !important;
	padding: 0 5px 20px;
	flex: 1 1 45% !important;
	justify-content: flex-start !important;
}

.card-icon-bg {
	background: #00599d;
	width: 80px;
	height: 80px;
	box-shadow: 2px 1px 2px #ccc;
	text-align: center;
	padding: 16px 19px !important;
	border-radius: 70px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.service-card h3, .service-card p {
	width: 100%;
	color: #333;
	padding: 0;
	text-align: center;
}

.service-card h3 {
	font-size: 18px;
	line-height: 25px;
	margin: 1px 0;
}

.service-card p {
	font-size: 12px;
	line-height: 20px;
	margin: 0;
}

.fab-btn {
	position: fixed;
	bottom: 3px;
	right: 3px;
}

.cbse-datepicker {
	width: 100%;
	margin-left: 0;
	position: relative;
	right: 13px;
	top: 10px;
}

.cbse-datepicker .md-datepicker-input-container {
	width: 84%;
	margin-left: 0;
}

.search-center {
	margin-left: 0;
	position: relative;
	left: 0;
	top: 15px;
	color: #7f7f7f;
	float: left;
	padding-bottom: 10px;
}

.btn-submit {
	margin-bottom: 0;
	margin-top: 5px;
}

.line-separator {
	margin: 10px 0 6px 0 !important;
	padding: 0px 0;
}

.btn-otp {
	margin: 12px 15px !important;
	float: right;
}

md-content {
	background: none;
}

.md-content-bg {
	background: none;
}

.srch-result {
	font-size: 15px;
	line-height: 25px;
	color: #333;
	text-align: center;
}

.btn-pri-center {
	font-size: 16px;
	line-height: 0;
	color: #fff !important;
	text-align: center;
	margin: 10px auto;
	margin-top: 15px;
}

.map-srch-div {
	min-height: 530px;
	background: url(../img/map.jpg) top center;
	background-size: contain;
	position: relative;
}

.map-adrs {
	position: absolute;
	left: 30px;
	right: 30px;
	bottom: 80px;
}

.srch-radio-btn {
	margin-left: 0px;
	color: #7f7f7f;
}

.md-toolbar-tools a svg {
	position: relative;
	top: 2px;
	margin-right: 15px;
}

.aicte-main md-icon svg {
	position: relative;
	top: 5px;
}

.aicte-theme._md-toolbar-transitions {
	background: #e25215 !important;
	padding: 8px 0 8px 20px;
}

md-toolbar .title {
	color: #fff;
	float: left;
	margin: 18px 0 0 15px;
	font-size: 19px;
}

.md-no-momentum md-card md-divider {
	margin-bottom: 15px;
}

.card-title {
	font-weight: 600;
	margin-bottom: 12px;
	line-height: 20px !important;
	font-size: 17px;
	color: #000 !important;
}

.md-no-momentum md-card md-divider {
	margin-bottom: 15px;
}

md-input-container.input-group {
	margin: 0;
	position: relative;
}

.custom-card {
	min-height: 40px;
	margin-bottom: 8px;
}

.custom-card md-input-container.input-group svg {
	position: absolute;
	left: 11px;
	top: 15px;
}

.custom-card md-input-container.input-group input {
	height: 45px;
	color: #888 !important;
	padding-left: 38px;
	border-bottom: 0 !important;
	font-weight: 300;
	font-size: 15px;
}

.md-no-momentum md-card div {
	line-height: 26px;
	text-transform: none;
	margin: 0 0 0px 0;
}

.md-no-momentum md-card div span {
	width: 100%;
	display: inline-block;
	width: 104px;
	font-weight: 600;
}
/*.md-no-momentum md-card div b {
 * 		color: #888787;
 * 				font-weight: 500;
 * 					}*/
.md-no-momentum md-card div b {
	color: #575757;
	font-weight: 600;
	/*width: 135px;*/
	width: 42%;
	float: left;
	text-align: left;
	font-size: 14px !important;
	min-height: 27px;
}

.md-no-momentum .layout-row>.flex-50 svg {
	position: relative;
	top: 6px;
	right: 4px;
}

.md-no-momentum a {
	font-size: 14px !important;
	color: #00599d;
	text-decoration: underline;
}

md-input-container .md-errors-spacer {
	min-height: 1px !important;
}

.pmay-main {
	position: relative;
	top: 5px;
}

.logo-dep {
	height: 150px;
}

md-toolbar .title {
	color: #873807;
	float: left;
	margin: 10px 0 0 20px;
	font-size: 19px;
}

md-tabs md-ink-bar {
	background-color: #ea4335 !important;
	color: #ea4335 !important;
}

.brad {
	background: #02A64F;
	color: #ffffff;
	padding: 10px;
	border-bottom: 1px solid #b1c3d0;
}

.brad span {
	display: inline-block;
	vertical-align: top;
	line-height: 19px;
	padding: 2px;
}

ul.code_list {
	margin: 0;
	padding: 0;
	list-style: none;
	background: #de6d26;
	border: 1px solid #b95312;
	border-radius: 4px;
}

ul.code_list li {
	margin: 0;
	list-style: none;
	display: inline-block;
	border-right: 1px solid #ef7528;
	vertical-align: top;
	color: #fff;
	padding: 0 10px;
	line-height: 30px;
	height: 30px;
}

ul.code_list li:last-child {
	border: 0px;
}

fieldset {
	border: 1px solid #ddd;
	margin: 10px 0;
}

legend {
	font-weight: bold;
}

.custom-bg1 {
	background: #5c6bc0 !important;
}

.custom-bg2 {
	background: #ef5350 !important;
}

.custom-bg3 {
	background: #fea628 !important;
}

.custom-bg4 {
	background: #4caf50 !important;
}

.custom-bg5 {
	background: #26a69a !important;
}

.custom-bg6 {
	background: #ab47bc !important;
}

.custom-red {
	background: #EA4335 !important;
}

.custom-green {
	background: #34A853;
	color: #fff !important;
}

.custom-blue {
	background: #4285F4 !important;
	color: #fff !important;
}

.custom-orange {
	background: #FBBC05 !important;
}

md-radio-button.md-checked .md-on {
	background: #34A853 !important;
}

md-radio-button.md-checked .md-off {
	border-color: #34A853 !important;
}

ul.custom_box {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.custom_box li {
	margin: 0;
	list-style: none;
	width: 45%;
	vertical-align: top;
	background: #fff;
	box-sizing: border-box;
	padding: 18px 10px;
	text-align: center;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0
		rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
	border-radius: 2px;
	color: #333;
	display: block;
	float: left;
	margin-top: 2%;
	margin-bottom: 2%;
}

ul.custom_box li:nth-child(odd) {
	margin-right: 2%;
	margin-left: 3%;
}

ul.custom_box li:nth-child(even) {
	margin-left: 2%;
	margin-right: 3%;
}

.custom_box h3 {
	font-size: 18px;
	line-height: 25px;
	margin: 14px 0 0;
	padding: 0;
	white-space: nowrap;
}

.custom_box p {
	font-size: 10pt;
	line-height: 20px;
	margin: 0px 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}

md-content.md-default-theme, md-content {
	background: none;
}

.md-button {
	text-transform: none;
}

.table.f_child_b tr td:first-child {
	font-weight: bold;
}

.table.tab_last_box tr td:last-child, .table.tab_last_box tr th:last-child
	{
	text-align: center;
	width: 80px;
	white-space: nowrap;
}

.custom_box .icon_box {
	background: #eee;
	width: 80px;
	height: 80px;
	margin: auto;
	border-radius: 50%;
	box-sizing: border-box;
	text-align: center;
	padding-top: 18px;
	box-shadow: 1px 2px 2px #a2a2a2;
}

md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
	background-color: #34A853;
}

md-card.md-default-theme, md-card, md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder {
	color: #818181 !important;
}

.custom-datepicker button {
	margin: 0 0 0 -2px !important;
	padding: 0 !important;
}

.custom-datepicker button md-icon {
	margin: 2px !important;
	padding: 0 !important;
}

.md-datepicker-input-container {
	padding: 0 0 8px 0px !important;
	margin: 0 !important;
	width: 88%;
}

.custom_soil_tab md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple
	{
	color: #fff;
}

.custom_soil_tab md-tabs[md-border-bottom] md-tabs-wrapper {
	background: #4285f4;
}

.lan_icon {
	background: #fbbc05;
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	margin: 0 15px 0 0;
}

.lan_icon img {
	height: 24px;
	margin: 9px 0;
}

.cust-list md-radio-button {
	margin: 0;
}

.fix_bottom {
	position: fixed;
	/* width: 100%; */
	text-align: center;
	bottom: 20px;
	right: 10px;
	/* background: #fff; */
}

.custom_box .custom-heading3 {
	margin: 18px 0px 0;
}

.custom-tabs2 {
	background: #4285f4;
	white-space: nowrap;
	overflow: auto;
}

.custom-tabs2 a {
	color: #fff;
	padding: 15px 20px;
	display: inline-block;
	font-size: 16px;
}

.custom-tabs2 .active_link {
	border-bottom: 2px solid rgb(255, 128, 171);
}

.logo_ncert_box {
	display: inline-block;
	background: #4285f4;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 0 3px #3270d6;
}

.logo_ncert_box img {
	height: 100%
}

svg.ors-icon {
	position: relative;
	top: 3px;
	float: left;
	margin-right: 5px;
}

label.year {
	margin-left: 35px;
}

.md-no-momentum md-card div button span {
	width: auto;
	color: #fff;
}

.custom-green.md-raised, .md-button.custom-green.md-raised, .md-button.custom-green.md-fab,
	.md-button.custom-green.md-fab {
	background-color: #34A853;
}

.custom-green.md-raised[disabled], .md-raised[disabled], .custom-green.md-fab[disabled],
	.md-fab[disabled] {
	background-color: rgba(0, 0, 0, 0.12);
}

.list_style2 .service-card {
	padding: 0px 0 12px;
}

.list_style2 .service-card h4 {
	text-align: center;
	margin: 12px 0 0 0;
}

.book_box {
	width: 150px;
	margin-right: 10px;
}

.book_box img {
	width: 100%;
	display: block;
	/* border-right: 4px solid #fff; */
	box-shadow: 0 0 3px #929292;
	/* margin-right: 10px; */
}

.custom-heading8 {
	position: absolute;
	background: rgba(0, 0, 0, 0.71);
	width: 100%;
	padding: 10px 0;
	margin: 0;
	box-sizing: border-box;
	left: 0;
	color: #fff;
	box-shadow: 0 0 3px #4e4e4e;
	bottom: 0;
	text-align: center;
}

.custom-setting md-list-item {
	height: 60px;
	min-height: 60px;
	padding: 0;
}

.custom_button_box {
	margin-top: 11px;
	float: left;
	width: 100%;
}

.custom_button_box button {
	background-color: transparent !important;
	box-shadow: none !important;
	margin: 0px;
	width: 100% !important;
}

md-card md-card-header md-card-avatar {
	margin-right: 12px;
	margin-top: 5px;
}

.md-subhead {
	color: #fff !important;
	float: left;
	padding: 0 7px;
	height: 20px;
	line-height: 20px;
	font-size: 12px !important;
	text-align: center;
	margin: 4px 0;
	width: 70px !important;
}

.ors-date {
	font-size: 11px !important;
}

.ors-date span {
	color: #4285F4 !important;
}

.soil_icon_box {
	display: inline-block !important;
	width: 30px !important;
	vertical-align: top;
}

.aadhaar-img {
	width: 250px;
	margin: 0 auto !important;
	margin-top: 20px !important;
}

.aadhaar-img img {
	width: 130px;
	height: 130px;
	border-radius: 100px;
}

.video_img_box {
	width: 80px;
	height: 80px;
	margin-right: 10px;
	box-sizing: border-box;
}

.video_img_box img {
	width: 80px;
	height: 80px;
	display: block;
	border: 4px solid #fff;
	box-shadow: 0 0 3px #8c8c8c;
	box-sizing: border-box;
	border-radius: 4px;
}

.user-card b {
	width: 52% !important;
}

.co_black strong {
	color: #000
}

.blood-group {
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 30px;
	vertical-align: middle;
	text-align: center;
	line-height: 37px;
}

.table-1 th {
	background: #fff;
	font-size: 15px;
	height: 30px;
	color: #333;
	font-weight: bold;
}

.ors-add-detail {
	margin: 0 !important;
	padding: 0 !important;
	height: auto !important;
	min-height: auto !important;
}

.md-svg-icon {
	margin: 0 10px 0 0 !important;
	padding: 0 !important;
}

.add-card {
	height: auto !important;
}

.table-1 tr td:first-child, .table-1 tr th:first-child {
	text-align: center;
	width: 90px;
}

.ors-date span {
	width: 100% !important;
}

.add-card md-list-item.md-3-line:before, .add-card md-list-item.md-3-line>.md-no-style:before
	{
	min-height: auto !important;
}

.add-card md-list-item .add-card .md-list-item-inner:before,
	md-list-item:before {
	height: auto !important;
}

.view-hospital-list md-card md-card-header md-card-avatar+md-card-header-text
	{
	max-height: auto !important;
}

.md-button.md-raised:not ([disabled] ).md-focused {
	background-color: #34A853 !important;
}

.info-hospital {
	background: #eee !important;
	height: 40px;
	line-height: 40px;
}

.info-hospital p {
	color: #333;
	margin: 0;
	font-weight: bold;
}

svg.ors-icon {
	top: 0px;
	float: left;
	margin-right: 0px;
	width: 20px !important;
	height: 20px !important;
}

.ors-table {
	padding: 8px 5px;
}

.ors-table td {
	width: 35% !important;
	padding: 5px 8px;
	height: auto;
	border-bottom: 0px solid #ccc;
	color: #818181;
	vertical-align: top;
	font-size: 13px;
}

.md-button.custom-green.md-raised:not ([disabled] ):hover, .md-button.md-raised:not
	 ([disabled] ):hover {
	background-color: #34A853;
}

.md-button.custom-green.md-raised:not ([disabled] ):focus, .md-button.md-raised:not
	 ([disabled] ):focus {
	background-color: #34A853;
}

.popup-svg {
	margin-top: 15px;
}

.popup-svg span {
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
}

.popup-svg p {
	padding: 0 10px;
}

._md-datepicker-floating-label._md-datepicker-has-calendar-icon .md-input-message-animation
	{
	margin-left: 35px;
}

.md-datepicker-input-container {
	padding: 0 0 4px 0px !important;
}

.error-dob {
	margin-top: -7px !important;
	padding: 0;
	opacity: 1 !important;
}

.cbse-radio-btn {
	margin-left: 3px;
}

.cbse-input-code {
	margin-left: 32px;
}

.table2 {
	table-layout: auto;
}

.table2 td {
	padding: 2px 7px 2px 2px;
	vertical-align: top;
}

.table2 th {
	padding: 15px
}

.table2 tr td:first-child {
	font-weight: bold;
	vertical-align: top;
	color: #404040;
	/* line-height: 26px; */
	font-size: 15px;
}

.svg-home {
	position: relative;
	top: 4px;
	margin-right: 2px;
}

.book-with {
	padding: 15px;
}

svg path[fill='#7f7f7f'], svg[fill='#7f7f7f'], svg path[fill='#757575'],
	svg[fill='#757575'] {
	fill: #5f5f5f;
}

.book-with h4 {
	margin: 0;
	padding: 0 0 20px 0;
	font-weight: bold;
}

.md-input-focused.plus_91:after, .md-input-focused.md-input-invalid.plus_91:after,
	.md-input-has-value.plus_91:after {
	content: '+91';
	position: absolute;
	top:11px;
}
	form.createTicketForm1class md-input-container {		
	    margin: 0px;	
            text-align:left;	
overflow: hidden;
	}		
	form.createTicketForm1class textarea {		
	   min-height: 40px !important;		
	}
.md-input-invalid.plus_91 input, .md-input-focused.plus_91 input,
	.md-input-has-value.plus_91 input {
	padding-left: 30px
}

.btn-vd {
	margin-top: -4px;
}

.custom-cl_blue {
	color: #2181ca;
}

md-list-item._md-button-wrap {
	border-bottom: 1px solid #f6f6f6;
}

.crm-action-btn {
	width: 20px !important;
	height: 20px !important;
	padding: 0 !important;
}

.custom-cl_blue {
	color: #2181ca;
}

md-list-item._md-button-wrap {
	border-bottom: 1px solid #f6f6f6;
	padding: 6px 8px;
}

.crm-assign md-checkbox {
	margin-bottom: 0px;
}

.crm-heading-h4 {
	margin: 10px 0;
}

.crm-ticket md-input-container {
	margin: 5px 0;
}

b.agent-info {
	width: 200px;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	float: left;
}

.crm-query-name span {
	float: left;
	margin-left: 0%;
	color: #999;
}

.crm-from {
	float: left;
	width: 100%;
}

.action-btn .md-icon-button {
	width: 30px;
}

svg.color-cards {
	position: relative;
	bottom: 25px;
}

.crm-dashboard-cards .md-display-3 {
	margin: 0;
	line-height: 35px;
	font-size: 40px;
	text-align: right;
}

md-backdrop.md-opaque {
	height: 100% !important;
	min-height: 850px;
}

@media screen and (max-width: 1280px) and (min-width: 480px) {
	.service-card {
		max-width: 47.5% !important;
	}
}

@media screen and (max-width: 768px) and (min-width: 320px) {
	.crm-table-scroll {
		width: 93%;
		overflow-x: scroll;
		display: block;
	}
}

.ng-untouched ~ .md-input-messages-animation {
	height: 0;
	opacity: 0;
}

.close_popup {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 9999;
	background: #e1e1e1;
	color: #fff;
	border-radius: 50%;
	padding: 0;
	cursor: pointer;
}

.crm-dialog-height {
	height: auto !important;
	overflow: inherit;
}

.crm-history-table {
	width: 100%;
	margin: 40px 0 0 0 !important;
	overflow: auto;
}

md-list-item .md-list-item-inner:before, md-list-item:before {
	min-height: 30px !important;
}

.md-datepicker-input {
	max-width: 100%;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.overflow-auto {
	overflow: auto;
}

.overflow-hidden {
	overflow: hidden;
}

.email-section md-list {
	padding: 0;
	position: relative;
}

.email-section md-content {
	max-height: 570px !important;
}

.email-section .md-button {
	margin: 0;
	padding: 5px 10px;
	background: #fff;
}

.email-section .md-button.emailbtn {
	height: 100%;
}

.email-section h3.email-sender {
	margin: 0;
	padding:0 127px 0 0;
    font-size: 14px;
	line-height: 1.2em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: 700 !important;
}

.email-section h4.email-subject {
	margin: 3px 0 1px;
	padding: 0;
	font-size: 13px;
	font-weight: 500;
	line-height: 1.2em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.email-section p.email-text {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.6em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.email-section h3 .md-caption.email-time {
	float: right;
	font-size: 12px;
	right: 10px;
	position: absolute;
}

.email-section .md-list-item-text {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
}

.email-section md-list-item.md-no-proxy, md-list-item .md-no-style {
	padding: 0;
}

.inbox-no-email-selected h2 {
	font-weight: lighter;
	font-size: 22px;
	color: #ccc;
}

.full-width {
	width: 100%;
	max-width: 100%;
}

.email-section p {
	color: #444;
}

.email-section md-card-header-text .md-title {
	font-weight: 600;
	font-size: 14px;
}

.email-section md-card-header-text .md-subhead {
	font-weight: 400;
	font-size: 14px;
}

.emaillink a {
	line-height: 20px;
	color: #000;
	font-weight: 600;
	font-size: 12px;
}

.email-day {
	position: sticky;
	height: 50px;
	z-index: 2;
}

.email-sort {
	position: static;
	z-index: 9;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: #a0a0a0;
}

select#langpair {
	width: 90px;
	border: 0px;
	margin-left: 10px;
	color: #000;
	float: left;
	padding-left: 5px !important;
}

.crm-chat_window .title svg, .crm-chat_window .title span, .top_menu {
	float: left;
	line-height: 33px;
}

.crm-chat_window .title svg {
	margin-top: 7px;
}

.user-profile.layout-align-center-center.layout-row {
	float: right;
	width: 210px;
}

.logomainn {
	text-align: center !important;
	float: left;
	width: 100%;
	display: inline-block;
}

.logomainn img {
	max-width: 100px;
	display: inline-block;
	margin-top: 6px;
}

.md-list-item-inner p {
	padding-left: 10px;
}

.md-list-item-inner i {
	color: #3F51B5;
}

.top-bar {
	width: 82% !important;
	margin-left:0% !important !important; 
}

.star-rating {
	padding: 10px 15px 0;
}

.crm-tckt-popup


 


.md-input-container




.md-input-focused


 


label




:not


 


(
.md-no-float



	


),
.crm-tckt-popup


 


md-input-container




.md-input-has-placeholder


 


label




:not



	


(
.md-no-float


 


),
.crm-tckt-popup


 


md-input-container




.md-input-has-value


 


label




:not



	


(
.md-no-float


 


)
{
-webkit-transform




:


 


translate3d




(0
,
6
px
,
0)
scale




(1);
transform




:


 


translate3d




(0
,
6
px
,
0)
scale




(1);
font-size




:


 


20
px




;
color




:


 


#000




;
font-weight




:


 


500;
margin-top





:


 


20
px


 


!
important




;
}
.crm-tckt-popup .layout-row {
	padding-top: 25px;
}

.crm-tckt-popup .layout-padding {
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

md-input-container.md-default-theme .md-input[disabled],
	md-input-container .md-input[disabled], [disabled] md-input-container.md-default-theme .md-input,
	[disabled] md-input-container .md-input {
	color: rgba(0, 0, 0, 1);
}

div#createTicketPopUp {
	z-index: 1001 !important;
}

.md-select-menu-container, .md-dialog-container {
	z-index: 9999 !important;
}
.chatStlssubmit{
margin-top: 15px;
}
.user-profile.logoutbtntop {
    float: right;
    width: 43%;
    padding-right: 19px;
}
.marrginleft25{
	margin-left:24% !important;
}
span.welcomtextmsg.ng-binding {
    float: left;
    width: 50%;
}
md-sidenav.md-sidenav-left.md-locked-open{
	width:100%;
	    position: relative !important;
	        height: 100vh;
}

md-toolbar.md-theme-indigo.position-fixed.top-bar._md.layout-row._md-toolbar-transitions, md-content.right-content.right-room.ng-scope._md.flex{
	margin-left:0px !important;
}
md-sidenav.md-sidenav-left.md-locked-open {
    width: 100%;
    position: fixed !important;
    height: 100vh;
    left: 0px;
    top: 0px;
}
.position-fixed {
    left: 25%;
}
.marrginleft24{
    margin-left: 25% !important;
}
.tab_scroll.fetchServicess_inner.ng-scope md-card._md {
    padding: 10px;
}
md-card.ng-scope._md, .tab_scroll md-card, .right-room md-card._md {
    padding: 0px 10px;
    white-space: nowrap;
    overflow: hidden;
}
.no-padding{
	padding:0px !important;
}
.tab_scroll {
    float: left;
    width: 100%;
    overflow: auto;
    margin-bottom: 20px;
}
.crm-dashboard-cards p {
    color: #fff;
}
button.md-raised.custom-green {
    margin-top: 14px !important;
}
span.md-headlinedatarow{
    line-height: 30px;
    padding: 0 10px;
}
.marginlzero{
	margin-left:0px;
}
md-dialog button.md-raised.custom-green {
    margin-top: 0px !important;
}
.singalhistorychat h4 {
    margin: 0px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 100;
}
.singalhistorychat .panel-default>.panel-heading {
    color: #333;
    background-color: rgb(63,81,181);
    border: 0px solid rgb(63,81,181) !important;
}
.singalhistorychat .panel.panel-default {
    margin: 0px !important;
    border: 0px;
    width: 480px;
    max-width: 100%;
}
.singalhistorychat .panel-body.msg_container_base {
    padding: 0px;
}
.singalhistorychat .chat_msgmain {
    background: #f4f8f8 ;
}
.singalhistorychat .list-unstyled {
    padding: 10px;
    min-height: 350px;
}
.singalhistorychat .messages .message.right .text_wrapper {
    background-color: #d6dcfe;
}
.singalhistorychat .messages .message.right .text_wrapper::after, .singalhistorychat .messages .message.right .text_wrapper::before{
 border-left-color: #d6dcfe;
}
.singalhistorychat .messages .message.right .text {
    color: #000;
}
.singalhistorychatclodeicon {
    float: right;
    width: auto;
    border: 0px;
}
.panel-heading span.singalhistorychattext {
    float: left;
    padding-left: 20px;
}
.singalhistorychatclodeicon img {
    width: 20px;
    margin-right: 10px;
    margin-top: -5px;
}
.md-dialog-container{
	position:fixed;
}
.createTicketForm1class{
	float:left;
	width:100%;
	text-align:center;
}
.createTicketForm1class md-dialog#dialogContent_121 {
    width: 650px;
    display: inline-block;
    max-width: 90%;
    padding: 10px;
    text-align:left;
}













@media only screen and (max-width: 1280px) {
.marrginleft24, .marrginleft24 md-toolbar {
    margin: 0px !important;
    width: 100% !important;
    max-width: 100% !important;
}
.marrginleft24 md-toolbar{
left:0px !important;
}
.user-profile.logoutbtntop {
   padding-right: 0px;
}
.user-profile.logoutbtntop button {
    margin-right: 0px !important;
}
}

































            .navgition_maindiv{
            	display:inline-block;
            }
            
            
            
            
            .assign_mainbox {
    display: inline-block;
    border: 1px solid #f5f5f5;
    width: 200px;
    margin: 7px 10px;
    height: 30px;
}



/*popup changes*/
.md-dialog-container {
    position: fixed;
}
form.createTicketForm1class {
    width: 700px;
    max-width: 90%;
}
form.createTicketForm1class md-dialog, form.createTicketForm1class md-content {
    width: 100%;
    margin: 0px;
    max-width: 100%;
}
form.createTicketForm1class md-card {
    overflow: auto;
    min-height: 600px;
    max-height: 500px;
    float: left;
    width: 97.5%;
}
form.createTicketForm1class md-list {
    width: 100%;
}
form.createTicketForm1class md-input-container label{
font-size:12px;
}





/*email read css*/


.md-button.emailbtn svg.md-avatar {
    margin-right: 10px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.email-section h4.email-subject b {
    margin-right: 5px;
    font-size: 14px;
}
#ui-admin-email md-card-header-text span {
    font-size: 12px;
    line-height: 20px;
}
#ui-admin-email md-card md-card-header md-card-header-text {
    display: inline-block;
    width: 94%;
}
#ui-admin-email md-card md-card-header md-card-avatar{
display:inline-block;
}
#ui-admin-email md-card-header {
    padding: 5px 0px;
    display: block;
}
#ui-admin-email md-card-header-text span span {
    font-weight: 600;
    padding-right: 10px;
    font-size: 12px;
}
#ui-admin-email md-card-header-text span {
    font-size: 11px;
    line-height:18px;
    font-weight: 300;
}
#ui-admin-email md-card-content {
    overflow: auto;
    white-space: normal;
    padding: 10px;
}
#ui-admin-email md-card md-card-header md-card-avatar {
    display: inline-block;
    float: left;
    margin-top: 22px !important;
}

