<md-content layout-padding layout-wrap>
    <md-card class="no-padding">
        <md-card-content class="no-padding" layout-gt-sm="row" layout="column">
            <div flex-gt-sm="50" flex>
                <md-toolbar layout="row" class="md-hue-3">
                    <div layout="row" class="md-toolbar-tools">
                        <span flex>Inbox</span>
                        <md-button is-busy="vm.composePromise" ng-click="vm.composeDirectMsg()" class="md-raised">
                            <md-icon>add_circle</md-icon> Compose New</md-button>
                    </div>
                </md-toolbar>
                <md-content>
                    <md-list flex>
                        <!-- <md-subheader class="md-no-sticky">Messages broadcasted by senior users..</md-subheader> -->
                        <md-divider></md-divider>
                        <div promise-loader="vm.inboxPromise"></div>
                        <div align="center" ng-hide="vm.inboxMessages.length">
                            <h4 promise-hider="vm.inboxPromise">No messages found!</h4>
                        </div>
                        <md-expansion-panel-group md-component-id="inboxMessagesGroup">
                            <md-expansion-panel ng-repeat="item in vm.inboxMessages">
                                <md-expansion-panel-collapsed layout="row" layout-wrap class="cursor-pointer" md-ink-ripple>
                                    <div class="md-title" flex="65">{{::item.from}}</div>
                                    <div class="md-summary" flex style="text-align: right;">{{::item.message.date}}</div>
                                    <div flex="100" class="md-summary message-preview-text">{{item.message.text}}</div>
                                </md-expansion-panel-collapsed>
                                <md-expansion-panel-expanded>
                                    <md-expansion-panel-header class="cursor-pointer" md-ink-ripple ng-click="::$panel.collapse()" md-no-sticky>
                                        <div class="md-title" style="max-width: 210px" flex>{{::item.from}}</div>
                                        <div class="md-summary" style="text-align: right;">{{::item.message.date}}</div>
                                    </md-expansion-panel-header>
                                    <md-expansion-panel-content>
                                        <p>{{::item.message.text}}</p>
                                    </md-expansion-panel-content>
                                    <md-expansion-panel-footer>
                                        <div ng-if="!item.replyTo" align="right" flex>
                                            <md-button ng-click="vm.reply(item)" class="md-primary">
                                                <md-icon>reply</md-icon> Reply</md-button>
                                        </div>
                                        <div ng-if="item.replyTo">
                                            <span style="text-decoration: underline;">{{item.isOriginal?'Already replied with: ':'In response to: '}}</span>
                                            <p style="margin-top: -18px;font-size: 14px;">{{::item.replyTo.text}}</p>
                                        </div>
                                    </md-expansion-panel-footer>
                                </md-expansion-panel-expanded>
                            </md-expansion-panel>
                        </md-expansion-panel-group>
                        <pagination-component default-page-size="5" fetch-on-init="true" on-fetch="vm.getInbox"></pagination-component>
                        <md-divider></md-divider>
                    </md-list>
                </md-content>
            </div>
            <md-divider></md-divider>
            <div flex-gt-sm="50" flex>
                <md-toolbar layout="row" class="md-hue-3">
                    <div layout="row" class="md-toolbar-tools">
                        <span flex>Outbox</span>
                    </div>
                </md-toolbar>
                <md-content>
                    <md-list flex>
                        <!-- <md-subheader class="md-no-sticky">Messages broadcasted by you..</md-subheader> -->
                        <md-divider></md-divider>
                        <div promise-loader="vm.outboxPromise"></div>
                        <div align="center" ng-hide="vm.outboxMessages.length">
                            <h4 promise-hider="vm.outboxPromise">No messages sent by you!</h4>
                        </div>
                        <md-expansion-panel-group md-component-id="outboxMessagesGroup">
                            <md-expansion-panel ng-repeat="item in vm.outboxMessages">
                                <md-expansion-panel-collapsed layout="row" layout-wrap class="cursor-pointer" md-ink-ripple>
                                    <div class="md-title" flex="65">{{::item.to}}</div>
                                    <div class="md-summary" flex style="text-align: right;">{{::item.message.date}}</div>
                                    <div flex="100" class="md-summary message-preview-text">{{item.message.text}}</div>
                                </md-expansion-panel-collapsed>
                                <md-expansion-panel-expanded>
                                    <md-expansion-panel-header class="cursor-pointer" md-ink-ripple ng-click="::$panel.collapse()" md-no-sticky>
                                        <div class="md-title" style="max-width: 230px" flex>{{::item.to}}</div>
                                        <div class="md-summary" style="text-align: right;">{{::item.message.date}}</div>
                                    </md-expansion-panel-header>
                                    <md-expansion-panel-content>
                                        <p>{{::item.message.text}}</p>
                                    </md-expansion-panel-content>
                                    <md-expansion-panel-footer ng-if="::item.replyTo">
                                        <div>
                                            <span style="text-decoration: underline;">In response to: </span>
                                            <p style="margin-top: -18px;font-size: 14px;">{{::item.replyTo.text}}</p>
                                        </div>
                                    </md-expansion-panel-footer>
                                </md-expansion-panel-expanded>
                            </md-expansion-panel>
                        </md-expansion-panel-group>
                        <pagination-component api="vm.outboxPaginator" default-page-size="5" fetch-on-init="true" on-fetch="vm.getOutbox"></pagination-component>
                        <md-divider></md-divider>
                    </md-list>
                </md-content>
            </div>
        </md-card-content>
    </md-card>
</md-content>